.Dash-Header {
    height: 5rem;
    background: linear-gradient(135deg, #b12929, #da5f88, rgb(219, 135, 177));
    position: sticky;
    top: 0;
    color: white;
}

.Title {
    height: 100%;
    width: 25rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: linear-gradient(135deg, #b90000, #e633334f, #b1292900);

    &:hover {
        color: #d6d6d6;
        background: linear-gradient(90deg, #e40000, #e63333be, #b1292900);
    }
}

#logo {
    height: 4rem;
    margin-left: 5%;
}
#my-name {
    margin-left: 1%;
}