.SidePanel {
    font-size: 25px;
    color: aliceblue;
}

.SidePanel-Button {
    height: 5rem;
    margin: 5%;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        font-size: 2rem;
        color: #af1111;
        text-shadow: 0 0 40px #ff0000;
    }
}

.SidePanel-Button.selected {
    font-size: 2.25rem;
    color: #af1111;
    text-shadow: 0 0 40px #ff0000;

    &:hover {
        color: #ffb9b9;
    }
}

@media only screen and (max-width: 1280px) {
    .SidePanel {
        font-size: 20px;
    }
}