.SidePanel {
    font-size: 25px;
    color: aliceblue;
}

.SidePanel-Button {
    height: 5rem;
    margin: 5%;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        color: #af1111;
    }
}

@media only screen and (max-width: 1280px) {
    .SidePanel {
        font-size: 20px;
    }
}